@using TimApp.Applicaiton.Dto
@model BookDto


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddBookModal">
    Yeni kitap ekle
</button>

<div class="modal fade" id="AddBookModal" tabindex="-1" aria-labelledby="AddBookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="AddBook" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Kitap ekle</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ISBN</label>
                        <input asp-for="ISBN" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Kitap Adı</label>
                        <input asp-for="Name" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Yazar</label>
                        <input asp-for="Author" required class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>

    </div>
</div>